# ImageKit.io Free Media Storage CDN Example
IMAGEKIT_PUBLIC_KEY=public_your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=private_your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

# Supabase Database & Auth Service Example
SUPABASE_URL=https://your_supabase_project_id.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
